<div class="col-sm-3 col-xs-4 country">
  {{#link-to "country" country}}
    <figure class="select-country">
        <img class="flag" src="/assets/images/{{country.name}}.png" alt="{{country.name}}">
      <figcaption class="text-center mt12 mb30">
        <p>{{country.name}}</p>
      </figcaption>
    </figure>
  {{/link-to}}
</div>
