<div class="country-detail mb50">
  <em>A little bit about {{model.name}}</em>
  <div class="capital">
    <strong>Capital:</strong> {{model.capital}}
  </div>
  <p class="description">{{model.description}}</p>
</div>
