<div class="col-sm-4 mt50">
  <figure>
      <img class="flag" src="/assets/images/{{country.name}}.png" alt="{{country.name}}">
    <figcaption class="text-center mt20">
      <h4>{{#link-to "countries.country" country}}{{country.name}}{{/link-to}}</h4>
    </figcaption>
  </figure>
</div>
