<div class="col-sm-2 col-xs-3 mt50 country">
  <figure>
      <img class="flag" src="/assets/images/{{country.name}}.png" alt="{{country.name}}">
    <figcaption class="text-center mt20">
      <p>{{#link-to "countries.country" country}}{{country.name}}{{/link-to}}</p>
    </figcaption>
  </figure>
</div>
