body {
  background-color: #fcfcfc;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #95a5a6;
  max-width: 1000px;
  margin: 0 auto;
  /* background-image: url('/assets/images/blue.jpeg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

ul {
  display: inline-block;
}

a, a:hover, a:focus {
  color: #95a5a6;
  text-decoration: none;
}

.mt12 {
  margin-top: 12px;
}

.mt50 {
  margin-top: 50px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb50 {
  margin-bottom: 50px;
}

.countries {
  margin: 80px 0px 0px 0px;
}

.header {
  background-color: #fcfcfc;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.9;
}

.logo {
  margin-top: -20px;
  margin-bottom: -20px;
  width: 90px;
  height: 90px;
  position: relative;
  overflow: hidden;
}

.home {
  font-size: 20px;
  font-style: italic;
}

.text-center {
  text-align: center;
}

.center {
  margin-left: 20%;
  margin-right: 20%;
}

.country-filter {
  border-radius: 6px;
  padding-left: 5px;
  font-weight: 400;
  font-style: italic;
  outline: none;
  margin-bottom: 28px;
}

.country-detail {
  margin-top: 80px;
}

.flag {
  margin: auto;
  width: 50px;
  height: 50px;
  padding-top: 20px;
  position: relative;
  overflow: hidden;
}

.about {
  margin-top: 150px;
  padding:0px 100px 0px 100px;
  text-align: left;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.footer {
  background-color: #fcfcfc;
  position:fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  line-height: 1;
  padding-top: 8px;
  opacity: 0.9;
}

@media (max-width: 704px) {
  .mobile-home {
    font-size: 16px;
    margin-bottom: -20px;
  }
  .mobile-about-link {
    font-size: 14px;
    margin-left: -35px;
    padding-right: 10px;
  }
}

@media (max-width: 400px) {
  .logo {
    width: 70px;
    height: 70px;
  }
  .flag {
    width: 30px;
    height: 40px;
  }
  .logo-container, .mobile-about-link, .mobile-home {
    width: 100%;
  }
  .mobile-about-link, .mobile-home, .footer {
    display: none;
  }
  .header {
    padding: 8px 0 0 0;
  }
  .countries {
    margin: 60px 0 0 0;
  }
  input {
    line-height: 1;
  }
  body {
    font-size: 12px;
  }
}

#slideIn {
  width: 100%;
  position: absolute;
  animation: moveIn 1.0s forwards;
}

@keyframes moveIn {
  from {
    left: -1000px;
  }
  to {
    left: 0px;
  }
}
