body, h1, h2, p {
  background-color: #f4ff88;
  /* font-family: fantasy; */
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #444 important!;
}

.text-center {
  text-align: center;
}

ul {
  display: inline-block;
}

a, a:hover, a:focus {
  text-decoration: none;
}

.tag-line {
  font-size: 40px;
  font-weight: 300;
  font-style: italic;
}

.country-image {
  margin: auto;
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.mt50 {
  margin-top: 50px;
}

.footer {
  background-color: #f4ff88;
  position:fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}
