body {
  background-color: #fcfcfc;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #95a5a6;
  max-width: 1000px;
  margin: 0 auto;
}

ul {
  display: inline-block;
}

a, a:hover, a:focus {
  color: #95a5a6;
  text-decoration: none;
}

.mt12 {
  margin-top: 12px;
}

.mt50 {
  margin-top: 50px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb50 {
  margin-bottom: 50px;
}

.countries {
  margin: 80px 0px 0px 0px;
}

.header {
  background-color: #fcfcfc;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.9;
  animation: moveIn 1.0s forwards;
}

.logo {
  margin-top: -20px;
  margin-bottom: -20px;
  width: 90px;
  height: 90px;
  position: relative;
  overflow: hidden;
}

.home {
  font-size: 20px;
  font-style: italic;
}

.text-center {
  text-align: center;
}

.center {
  margin-left: 10%;
  margin-right: 10%;
}

.country-filter {
  border-radius: 6px;
  padding-left: 5px;
  font-weight: 400;
  font-style: italic;
  outline: none;
  margin-bottom: 28px;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.country-detail {
  margin-top: 80px;
}

.flag {
  margin: auto;
  width: 50px;
  height: 50px;
  padding-top: 20px;
  position: relative;
  overflow: hidden;

}

.flag:hover {
    animation: shake 2.5s;
    animation-iteration-count: infinite;
}

.about {
  margin-top: 150px;
  padding:0px 100px 0px 100px;
  text-align: left;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.about-slide-in-1 {
  position: relative;
  top: 0;
  left: 0;
  animation: moveIn 1.0s forwards;
}
.about-slide-in-2 {
  position: relative;
  top: 0;
  left: 0;
  animation: moveIn 2.3s forwards;
}

.footer {
  background-color: #fcfcfc;
  position:fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  line-height: 1;
  padding-top: 8px;
  opacity: 0.9;
}

/* media */
@media (max-width: 704px) {
  .mobile-home {
    font-size: 16px;
    margin-bottom: -20px;
  }
  .mobile-about-link {
    font-size: 14px;
    margin-left: -35px;
    padding-right: 10px;
  }
}

@media (max-width: 400px) {
  .logo {
    width: 70px;
    height: 70px;
  }
  .flag {
    width: 30px;
    height: 40px;
  }
  .logo-container, .mobile-about-link, .mobile-home {
    width: 100%;
  }
  .mobile-about-link, .mobile-home, .footer {
    display: none;
  }
  .header {
    padding: 8px 0 0 0;
  }
  .countries {
    margin: 60px 0 0 0;
  }
  input {
    line-height: 1;
  }
  body {
    font-size: 12px;
  }
}

/* animations */
@keyframes moveIn {
  from {
    left: -1000px;
  }
  to {
    left: 0px;
  }
}

@keyframes shake {
  0% { transform: translate(2px, 0px) rotate(0deg); }
  10% { transform: translate(1px, 0px) rotate(3deg); }
  20% { transform: translate(4px, 0px) rotate(1deg); }
  30% { transform: translate(0px, 0px) rotate(3deg); }
  40% { transform: translate(2px, 0px) rotate(5deg); }
  50% { transform: translate(0px, 0px) rotate(3deg); }
  60% { transform: translate(3px, 0px) rotate(4deg); }
  70% { transform: translate(0px, 0px) rotate(3deg); }
  80% { transform: translate(5px, 0px) rotate(2deg); }
  90% { transform: translate(0px, 0px) rotate(3deg); }
  100% { transform: translate(4px, 0px) rotate(0deg); }
}
