<h1>Country Route!!</h1>
<div>
  <!-- {{#each model as |country|}}
    <h2>{{country.name}}</h2>
  {{/each}} -->
    <!-- <div>
      <strong>Capital:</strong> {{model.capital}}
    </div>
    <p class="description">{{model.description}}</p> -->
</div>
<!-- {{outlet}} -->
