
<div class="col-xl-8 col-lg-8 col-xl-offset-2 col-lg-offset-2 col-md-12 about">
  <h2>
    Have you ever returned from a fantastic holiday or time spent travelling
    and wanted to recreate a special meal you had? Well this was the inspiration
    behind Far Flung Feasts!
  </h2>
  <h2>Just search for that special country you were in and we'll provide the inspiration
    to help you recreate that special food memory.
  </h2>
</div>
