<div class="about">
  <p>
    Have you ever returned from a fantastic holiday or time spent travelling
    and wanted to recreate a special meal you had? Well this was the inspiration
    behind <i>Far Flung Feasts!</i>
  </p>
  <p class="mt20">Just search for that amazing place visited and we'll provide the inspiration
    to help you recreate that special food memory.
  </p>
</div>
