<div class="container">
  <div class="row">
    <div class="header">

      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
        {{#link-to "countries" class="menu-logo"}}
        <img class="logo" src="/assets/images/fff.png" alt="fff logo">
        {{/link-to}}
      </div>

      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 home">
        {{#link-to "countries" class="menu-countries"}}
        <ul>
          <p>...where would you like to taste today?</p>
        </ul>
        {{/link-to}}
      </div>

      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 menu">
        {{#link-to "about" class="menu-about"}}
        <ul>
          <p>About</p>
        </ul>
        {{/link-to}}
      </div>

    </div>
  </div>
</div>

<div class="text-center">
  {{outlet}}
</div>

<footer class="footer text-center">
  <p>©2018 Far Flung Feasts</p>
</footer>
