<div class="container">
  <div class="row">
    <div class="col-xl-12 text-center">

      <div class="col-xl-3 col-lg-6 col-md-6 col-lg-offset-3">
        {{#link-to "home"}}
        <ul>
          <h1>
            <em>Far Flung Feasts</em>
          </h1>
        </ul>
        {{/link-to}}
      </div>

      <div class="col-xl-3 col-lg-3 col-md-6 menu">
        {{#link-to "about" class="menu-about"}}
        <ul>
          <h3>About</h3>
        </ul>
        {{/link-to}}
        {{#link-to "countries" class="menu-countries"}}
        <ul>
          <h3>Countries</h3>
        </ul>
        {{/link-to}}
      </div>

    </div>
  </div>
</div>

<div class="text-center">
  {{outlet}}
</div>

<footer class="footer text-center">
  <p>©2018 Far Flung Feasts</p>
</footer>
