<div class="countries">
  {{#country-filter
    filter=(action 'filterByCountry')
    as |filterResults|}}
    {{#each filterResults as |countryType|}}
      {{country-list country=countryType}}
    {{/each}}
  {{/country-filter}}
</div>
{{outlet}}
